.background    { background: rgb(62, 142, 204);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(250, 24, 24); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: rgb(253, 233, 13); }
.player { background: rgb(60, 3, 124); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
